/** sprite: common; sprite-image: url('decorator/common-${md5}.png'); */

.header-wrapper .view-tab {
    margin-left: 150px;
    float: left;
    _display: inline; 
}
.header-wrapper .view-tab a {
    width: 85px;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    color: White;
    font-weight: bolder;
    margin-right: 3px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("decorator/view_tab.png");/** sprite-ref: common;sprite-margin-bottom:20px;*/ 
}
.header-wrapper .view-tab a.site-center{
    width: 96px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("decorator/view_tab_site_center.png");/** sprite-ref: common;sprite-margin-top:20px;*/ 
}

.header-wrapper .view-tab a.bulb{
    color: red;
    width: 96px;
    padding-left: 13px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("decorator/bulb.png");/** sprite-ref: common;sprite-margin-bottom:300px;*/
}
