html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1; _line-height: 1.2;}
ol, ul {list-style: none;}
em {font-style: normal;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: none;}
table {border-collapse: collapse; border-spacing: 0;}
b {font-weight: bolder;}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
body {font-size: 12px; font-family: Arial,'\5b8b\4f53'; _font-family: '\5b8b\4f53';}
img {vertical-align: middle;}
a {color: #0965B8; text-decoration: none; cursor: pointer;}
a:hover {text-decoration: underline;}
.clear {clear: both; font-size: 0; height: 0;}
.ellipsis {display: inline-block; white-space: nowrap; width: 222px; overflow: hidden; text-overflow: ellipsis;}
th {text-align: left;}
label {vertical-align: middle;}
label input {margin-right: 2px;}
input {margin: 0; padding: 0;}
select, input {font-size: 12px; vertical-align: middle;}
div.section {margin-top: 10px;}
.l {float: left;}
.r {float: right;}
.tar {text-align: right;}
.gray {color: gray;}
.red {color: red;}
.header-wrapper {background: #115FB6 url("decorator/header_bg.gif") repeat-x;}
.header-wrapper .header {height: 50px; background-repeat: no-repeat;}
.header-wrapper .logo {width: 150px; position: absolute;}
.header-wrapper .logo img {width: 150px; height: 50px;}
.header-wrapper .top-nav {text-align: right; color: #75a8d8; height: 24px; line-height: 22px; margin-right: 32px;}
.header-wrapper .top-nav a {color: #b5d4f2; margin: 0 8px;}
.header-wrapper .top-nav .more-nav {position: relative; z-index: 11; display: inline-block; *display: inline;}
.header-wrapper .top-nav .more {position: absolute;}
.header-wrapper .top-nav .more li {display: none; text-align: left; list-style-position: outside; line-height: 18px; padding-bottom: 4px;}
.header-wrapper .top-nav .more-hover .more {background-color: #E7F2FC; border: 2px solid #1162BA; margin-left: 2px; padding: 0 5px; top: 0; *top: -2px; left: 0;}
.header-wrapper .top-nav .more-nav a.more-arrow {padding-right: 10px; background-repeat: no-repeat; background-position: right 5px; background-image: url(decorator/more-arrow-down.gif);}
.header-wrapper .top-nav .more-hover a.more-arrow {background-image: url(decorator/more-arrow-down-hover.gif);}
.header-wrapper .top-nav .more-hover .more li {display: block;}
.header-wrapper .top-nav .more-hover .more a {margin: 0;}
.header-wrapper .top-nav .more-hover .more a,.header-wrapper .top-nav .more-hover .more a .new-count {color: #0965b8;}
.header-wrapper .top-nav a.wormhole {color: #FFFFCC;}
.header-wrapper .top-nav a .new-count {color: white;}
.header-wrapper .top-nav .account {color: #B5D4F2; margin: 0 8px;}
.header-wrapper .view-tab {margin-left: 150px; float: left; _display: inline;}
.header-wrapper .view-tab a {width: 85px; height: 26px; line-height: 26px; display: inline-block; color: White; font-weight: bolder; margin-right: 3px; background: url(./test/css/decorator/view_tab.png) -200px 0 no-repeat;}
.header-wrapper .view-tab a.site-center {width: 96px; background: url(./test/css/decorator/view_tab_site_center.png) -84px -46px;}
.header-wrapper .view-tab a.site-center:hover {background: url(./test/css/decorator/view_tab_site_center_hover.png) -84px 0;}
.header-wrapper .view-tab a:hover {background: url(./test/css/decorator/view_tab_hover.png) -200px -46px;}
.header-wrapper .view-tab a.report-selected, .header-wrapper .view-tab a.report-selected:hover {color: #1873C8; text-decoration: none; cursor: default; background: url(./test/css/decorator/view_tab_selected.png) -200px -92px;}
.header-wrapper .view-tab a .icon {display: inline-block; width: 30px; height: 26px; float: left; margin-right: 14px;}
.header-wrapper .view-tab a.site-center .icon {margin-right: 5px; background: url(./test/css/decorator/icon_site_center.png) 0 -223px no-repeat;}
.header-wrapper .view-tab a.report .icon {background: url(./test/css/decorator/icon_report.png) -58px -173px no-repeat;}
.header-wrapper .view-tab a.report-selected .icon {background: url(./test/css/decorator/icon_report_selected.png) -92px -173px no-repeat;}
.custom .header {height: 80px;}
.custom .top-nav {height: 54px;}
body {min-width: 1000px; _width: expression((document.documentElement.clientWidth < 1000) ? "1000px" : "auto" ); background: url("decorator/aside_bg.png") repeat-y;}
.aside {width: 149px; position: absolute;}
.aside .nav li.selected {background-color: #EA764F; border-right: 4px solid #E3563A;}
.aside .nav li.selected .beta {background: url(./test/css/decorator/beta_selected.png) -125px -173px;}
.aside .nav li.selected .new {background: url(./test/css/decorator/new_selected.png) -167px -173px;}
.aside .nav li.selected .update {background: url(./test/css/decorator/update_selected.png) -200px -138px;}
.aside .nav li.selected a {color: white; font-weight: bolder;}
.aside .nav li.disabled a {color: #8b8b8b;}
.aside .nav li.selected-disabled {background-color: #DFDFDF; border-right-color: #CACACA;}
.aside .nav li .beta {display: inline-block; height: 12px; overflow: hidden; margin-left: 3px; width: 22px; vertical-align: text-bottom; background: url(./test/css/decorator/beta.png) -121px -92px no-repeat;}
.aside .nav li .new {display: inline-block; height: 10px; margin-left: 6px; overflow: hidden; width: 22px; vertical-align: text-bottom; background: url(./test/css/decorator/new.png) -156px -131px no-repeat;}
.aside .nav li .update {display: inline-block; height: 12px; margin-left: 6px; overflow: hidden; width: 22px; vertical-align: text-bottom; background: url(./test/css/decorator/update.png) -243px -138px no-repeat;}
.aside .nav li a {color: #6191d4; line-height: 29px; height: 29px; padding-left: 30px; display: inline-block;}
.aside .nav li a.open {color: #0965B8; font-weight: bolder; padding-left: 20px; line-height: 30px; height: 30px; display: block; background: #e2edfb url(./test/css/decorator/open.png) -29px -173px no-repeat;}
.aside .nav li a.close {color: #0965B8; font-weight: bolder; padding-left: 20px; line-height: 30px; height: 30px; display: block; margin-bottom: 1px; background: #e2edfb url(./test/css/decorator/close.png) 0 -173px no-repeat;}
.aside .helper-center {background-color: #EDF5ED; border: 1px solid #BDDEB2; margin: 51px auto auto; width: 140px;}
.aside .helper-center .title {background-color: #CCF2CC; color: #0965B8; font-weight: bolder; line-height: 30px; padding-left: 20px;}
.aside .helper-center .title a {color: #0C7823;}
.aside .helper-center .text-wrapper {height: 22px; display: inline-block; margin: 8px 0 8px 3px; background: url(./test/css/decorator/help_input_bg.png) 0 -131px no-repeat;}
.aside .helper-center .text-wrapper .text {border-width: 0; background-color: transparent; padding: 4px; width: 82px; *width: 70px; vertical-align: super;}
.aside .helper-center .text-wrapper a.button {vertical-align: top;}
.footer {text-align: center; color: Gray; margin: 50px 0;}
.footer a {color: Gray; margin: 0 5px;}
.main {margin-left: 160px; margin-right: 40px;}
.main div.content {padding-top: 13px; min-height: 500px; _height: 500px;}
.misc {width: 40px; float: right;}
.misc .feedback {position: fixed; top: 300px; margin-left: 7px; _position: absolute; _top: expression(eval(document.documentElement.scrollTop + 300));}
.misc .feedback a {width: 22px; height: 111px; display: block; background: url(./test/css/decorator/icon_feedback.png) -42px 0 no-repeat;}
.misc .feedback a:hover {background: url(./test/css/decorator/icon_feedback_hover.png) 0 0;}
.misc .back-to-top {position: fixed; bottom: 10px; margin-left: 7px; _position: absolute; _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight - 120 ));}
.misc .back-to-top a {display: block; width: 22px; height: 59px; background-repeat: no-repeat; background-image: url("decorator/back_to_top.gif");}
.misc .back-to-top a:hover {background-image: url("decorator/back_to_top_hover.gif");}
a.button {display: inline-block; border-width: 1px; border-style: solid; border-color: #b1afb0 #8c8c8c; color: black; text-decoration: none; background: url("decorator/button_bg.png") repeat-x;}
a.button span, a.button input {background: none; border: none; display: inline-block; height: 20px; line-height: 20px; padding: 0 6px; cursor: pointer;}
a.button:hover {background: url(./test/css/decorator/button_hover.png) 0 -256px;}
a.button.disabled {color: gray; cursor: default;}
a.button.disabled:hover {background: url(./test/css/decorator/button_bg.png) -21px -256px;}
a.help {width: 16px; display: inline-block; text-decoration: none; background: url(./test/css/decorator/tip.png) -120px -131px no-repeat;}
.section {margin-bottom: 10px;}
.section-title {background-color: #EBEBEB; height: 25px; line-height: 25px; padding: 0 10px; margin: 10px 0;}
.filter {_padding: 8px 0;}
.filter .label {margin-right: 20px;}
.custom-indicator {padding-left: 20px; background-repeat: no-repeat; background-position: 0 5px; background-image: url("decorator/custom_indicator.gif");}
div.filter-tabs ul li {border-width: 1px;}
.advanced-filters:hover {border: 1px solid #dadada; background: #f6f6f6;}
.filter-tabs ul.selected .advanced-filters:hover {border: 1px solid #fff; background-color: transparent;}
.filter-tabs li.selected.advanced-filters:hover {border: 1px solid #c9c9c9; border-bottom-color: #f9f9f9; background-color: transparent;}
.filter label, .filter select {margin-right: 10px;}
.filter-result {}
.filter-result .reset {display: inline-block; height: 18px; width: 17px; margin-left: 2px; vertical-align: middle; margin-right: 3px; cursor: pointer; background: url(./test/css/decorator/filter_reset.png) -84px -92px no-repeat;}
.filter-result .result {display: inline-block; line-height: 25px; margin-left: 3px; font-style: normal;}
.table-filter {background-color: #EBEBEB; line-height: 25px; height: 25px; margin-top: 10px; padding-left: 10px; padding-bottom: 1px; _padding-top: 4px; _padding-bottom: 4px;}
.table-filter select {margin-bottom: 1px;}
.top-filter {background-color: #EBEBEB; line-height: 1.5; padding: 10px; margin-bottom: 10px;}
.loading {height: 120px; line-height: 120px; margin: auto; padding-left: 40px; width: 120px; background: url("decorator/loading.gif") left center no-repeat;}
.toggleable-hidden, .toggleable-hidden object {height: 1px; width: 1px; opacity: 0; filter: alpha(opacity=0); *display: none;}
div.fold {text-align: center; border-top: 2px #e5e5e5 solid; margin-top: 2px;}
div.fold a {display: inline-block; width: 72px; height: 10px;}
div.fold a.close {background-repeat: no-repeat; background-image: url("decorator/fold.gif");}
div.fold a.open {background-repeat: no-repeat; background-image: url("decorator/unfold.gif");}
.indicators-tab {line-height: 1.5;}
.indicators-tab span {margin-right: 10px;}
.indicators-tab a {margin-right: 10px;}
.indicators-tab a.selected {padding: 2px 5px; background-color: #73B1E0; color: #FFFFFF; font-weight: bold;}
.indicators label {float: left; height: 30px; line-height: 30px; width: 140px; margin: 0;}
.indicators-button a {margin-right: 15px;}
.open-new {padding: 2px; background-color: #0063dd; color: white; margin-left: 5px;}
.setting-main {font-size: 12px; color: #333;}
.setting-note {background-color: #F6F6F6; color: #999; line-height: 20px; padding: 10px 12px; width: 320px; margin: 2px 0; position: relative;}
.setting-note .note-arrow, .setting-note .setting-note-arrow {border: 7px solid white; position: absolute; height: 0; width: 0; line-height: 0; border-right: 7px solid #EAEAEA; top: 10px; left: -14px; _left: -17px;}
.setting-little-note {color: #999; margin: 10px 0 25px 0;}
.setting-little-note div {padding: 5px 0;}
.setting-title {font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none; color: #333; height: 22px; line-height: 22px;}
.setting-sub-title {font-weight: bold; font-style: normal; text-decoration: none; color: #666; margin: 5px 0;}
.setting-highlight {color: #ff0000;}
.setting-main .setting-title a.help {cursor: help;}
.setting-main a.help {cursor: help; line-height: 2;}
.setting-table {color: #333; background-color: #FCFCFC;}
.setting-table tr {height: 30px; line-height: 30px;}
.setting-table td {border-bottom: 1px solid #E5E5E5; height: 30px; line-height: 25px;}
.setting-table .url div {margin: 0 8px;}
.setting-table tr.tr-highlight {background-color: #E9F3FF;}
.setting-table th {background-color: #DEDEDE; color: #999;}
.setting-table th, .setting-table td {text-align: left;}
.setting-table th.align-left, .setting-table td.align-left {text-align: left;}
.setting-table th.align-center, .setting-table td.align-center {text-align: center;}
.setting-table th.align-right, .setting-table td.align-right {text-align: right;}
.setting-table .site-number {padding: 0 5px;}
div.flash-text-container .toggleable-hidden {display: none;}
div.flash-text-container span.flash-text {color: #606060;}
.searchword {padding: 2px;}
.cy {line-height: 1; margin-top: 10px;}
.layer {z-index: 1; position: absolute;}
input.text {padding: 2px;}
.invisible {visibility: hidden; height: 1px; overflow: hidden; line-height: 0; _font-size: 0;}
.hint {color: Gray; line-height: 2; padding-top: 20px;}
.expose {position: absolute; z-index: 999999;}
.header-wrapper .top-nav .version {background-color: #0C5192; padding: 2px 0;}
.header-wrapper .top-nav .version a {margin: 0 5px; color: #FFFFCC;}
.header-wrapper .top-nav a.new-version-guide {color: #FFFFCC;}
.body-masked select {visibility: hidden;}
.mask-layer {background: #000; opacity: 0.3; filter: alpha(opacity=30);}
div.flash-trend-tip {padding-left: 15px; background-repeat: no-repeat; background-position: left 5px; background-image: url("decorator/flash-trend-tip.gif");}
.query-form {display: inline;}
.search-shotcuts-container a {margin: 0 5px;}
.up-color {color: #FF0000;}
.down-color {color: #3c8a37;}
.hori-color {color: #808080;}
.chart-container {position: relative; line-height: 1.2; text-align: center; margin: 0 auto;}
.chart-tip-container {position: absolute; width: 100%; left: 0; top: 0;}
.bfc {overflow: hidden; *zoom: 1;}
.hidden {display: none;}
.no-select {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
