.header-wrapper .view-tab {margin-left: 150px; float: left; _display: inline;}
.header-wrapper .view-tab a {width: 85px; height: 26px; line-height: 26px; display: inline-block; color: White; font-weight: bolder; margin-right: 3px; background: url(./test/css/decorator/view_tab.png) 0 -36px no-repeat;}
.header-wrapper .view-tab a.site-center {width: 96px; background: url(./test/css/decorator/view_tab_site_center.png) 0 0;}
